@CHARSET "UTF-8";

.table {

    border-collapse:collapse;
    border-bottom:1px solid gray;
    font-family: arial, sans-serif;;
    width: 90%;
}


h1 {
    font-size: 2.9em;
    text-align: left;
    font-weight: bold;
}
.table-header {
    background-color: #4CAF50;
    color: white;
}

.form-style{
    max-width: 90vw;
    padding: 10px 20px;
    margin: 10px auto;
    padding: 30px;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}


.table-odd-row {
    background-color: #4CAF50;
    border-top:1px solid gray;
    text-align:center;
    padding: 15px;
}

